<app-header></app-header>

<div class="container">
    <!-- <div *ngFor="let fd of foodPageData"> -->

    <div class="mid-container">
        <img src={{fd.imgUrl}} alt="">

        <div class="content-detail">
            <div class="name-div">
                <div class="name">
                    {{fd.name}}
                </div>
                <span class="favorite {{fd.favorite? 'fav' : 'not'}}">
                    <i class="bi bi-heart-fill"></i>
                </span>

            </div>

            <div class="product-item-footer-page">
                <div class="origins-page">
                    <span class="tag" *ngFor="let origin of fd.origin">{{origin}}</span>
                </div>
                <div class="cook-time-page">
                    Time to cook about <span>🕒</span> {{fd.cooktime}} minutes

                </div>
            </div>
            <div class="price price-div">
                <div>
                    <span class="tag" *ngFor="let tag of fd.tag">{{tag}} </span>
                </div>
                <span class="price">{{fd.price | currency}}</span>
            </div>

            <button type="button" class="btn btn-success btn-to-cart" (click)="addingtocart(fd.id)">Add To
                Cart</button>



        </div>

    </div>



    <!-- </div> -->
</div>