.container-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mid-container-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img {
    min-width: 8rem;
    max-width: 16rem;
    border-radius: 1rem;
    object-fit: cover;
    margin: 1rem;
}

.content-detail {
    margin-left: 1rem;
    max-width: 20rem;

}

.name-div {
    display: flex;
    justify-content: space-between;

    span i {
        position: static;
    }
}

.name-div .favorite {
    font-size: 1.5rem;
}

.name {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.cook-time-page {
    text-align: start;
}

.btn-to-cart {
    width: 100%;
}


.cook-time-page {
    font-size: 1rem;
    margin: .5rem auto;
    flex: 3;
    text-align: start;
}

.price {
    color: #198754;
    font-size: 1.2rem;
    font-weight: 600;

}

.price-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem auto;
}

.tag {
    background-color: rgb(246, 85, 85);
    color: #ffffff;
    border-radius: .5rem;
    display: inline-block;
    padding: .1rem .5rem;
    margin: .4rem;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 0;
}